<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/views/board/board.css">
    <link href="https://fonts.googleapis.com/css?family=Assistant:300" rel="stylesheet">
    <script src="/views/board/board.js"></script>
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title> <%= board_title %> - Notiks</title>
</head>

<body>
    <div id="base">
        <div id="bar">
        </div>
        <div id="options" class="darkoptions">
            <div>
                <a href="javascript:manageSettings()">Settings</a>
            </div>
            <div>
                <a href="javascript:manageGroups()">Groups</a>
            </div>
            <div>
                <a href="/boards">Boards</a>
            </div>
        </div>
        <div id="desktop">
            <% if(notes.length != 0) { %>
            <% notes.forEach((note) => { %>
            <div class="note" id="<%= note.note_id %>" style="left: <%= note.posX %>; top:  <%= note.posY %>">
                <div class="note_header">
                    <a href="javascript:editNote(<%= note.note_id %>)">Edit</a>
                    <span><%= note.title %></span>
                </div>
                <p><%= note.content %></p>
            </div>
            <% }); %>
            <% } else { %>
            <h1 id="empty">Wow. Such Emptyness</h1>
            <% }; %>
        </div>
        <div id="dialogManager">
            <div id="noteManager" class="manager">
                <form action="" method="">
                    <h3>Title</h3>
                    <input type="text" name="title">
                    <h3>Content</h3>
                    <textarea rows="3" cols="100" maxlength="300"></textarea>
                    <h3></h3>
                    <h3>Category</h3>
                    <select name="category">
                    </select><br>
                    <select name="groups_available"></select>
                    <button>Add to note</button>
                    <select name="groups_added"></select>
                    <button>Remove from note</button>
                    <a href="javascript:toggleDialogManager(2)">Cancel</a>
                    <input type="submit" name="submit" value="Save changes">
                </form>
            </div>
            <div id="boardManager" class="manager">
                <form action="" method="">
                    <h3>Title</h3>
                    <input type="text" name="title">
                    <h3>Background image</h3>
                    <select name="category">
                    </select>
                    <a href="javascript:toggleDialogManager(2)">Cancel</a>
                </form>
            </div>
            <div id="groupManager" class="manager">
                <form action="" method="">
                    <a href="javascript:toggleDialogManager(2)">Cancel</a>
                </form>
            </div>
        </div>

        <div id="display_log">
            <p id="display_msg">
            </p>
        </div>
    </div>
</body>

</html>