<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/views/board/board.css">
    <link rel="stylesheet" href="/views/board/categories.css">
    <link href="https://fonts.googleapis.com/css?family=Assistant:300" rel="stylesheet">
    <script src="/views/board/board_operations.js"></script>
    <script src="/views/board/board.js"></script>
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title> <%= board_title %> - Notiks</title>
</head>

<body>
    <div id="base">
        <div id="bar">
        </div>
        <div id="options" class="darkoptions">
            <div>
                <a href="javascript:manageSettings()">Settings</a>
            </div>
            <!--<div>
                <a href="javascript:manageGroups()">Groups</a>
            </div>-->
            <div>
                <a href="/boards">Boards</a>
            </div>
        </div>
        <div id="desktop">
            <% if(notes.length != 0) { %>
            <% notes.forEach((note) => { %>
            <div class="note <% if (note.categ_id == null) { %> categ_default <% } else { %> <%= note.categ_id %> <% } %>"
                id="<%= note.note_id %>" style="left: <%= note.posX %>; top:  <%= note.posY %>">
                <div class="note_header">
                    <a href="javascript:editNote(<%= note.note_id %>)">Edit</a>
                    <span><%= note.title %></span>
                </div>
                <p><%= note.content %></p>
            </div>
            <% }); %>
            <% } else { %>
            <h1 id="empty">Wow. Such Emptyness</h1>
            <% }; %>
        </div>
        <div id="dialogManager">
            <div id="noteManager" class="manager">
                <form action="javascript:verifyNoteData()" method="post">
                    <h3>Title</h3>
                    <input type="text" name="title" maxlength="35">
                    <h3>Content</h3>
                    <textarea rows="3" cols="100" maxlength="250"></textarea>
                    <h3></h3>
                    <h3>Category</h3>
                    <select name="category">
                    </select><br>
                    <h3>Groups</h3>
                    <select name="available_groups"></select>
                    <button id="add_group">Add selected group to note</button><br>
                    <select name="added_groups"></select>
                    <button id="remove_group">Remove selected group from note</button><br>
                    <div>
                        <button class="cancel_button">Cancel</button>
                        <input type="submit" name="submit" value="Save changes">
                        <button class="delete_button">Delete note</button>
                    </div>
                </form>
            </div>
            <div id="boardManager" class="manager">
                <form action="javascript:verifyBoardData()" method="post">
                    <h3>Title</h3>
                    <input type="text" name="title">
                    <!--<h3>Background image</h3>
                    <select name="category">
                    </select>-->
                    <div>
                        <button class="cancel_button">Cancel</button>
                        <input type="submit" name="submit" value="Save changes">
                        <button id="delete_board">Delete board</button>
                    </div>
                </form>
            </div>
            <div id="hideShowManager" class="manager">
                <form action="javascript:hideShow()" method="post">
                    <h3>Select the group to hide</h3>
                    <select id="showHideGroups"></select><br>
                    <div>
                        <label>Hide</label><input class="showHide" type="radio" name="showHide" value="hide" checked><br>
                        <label>Show</label><input class="showHide" type="radio" name="showHide" value="show">
                    </div><br>
                    <div>
                        <button class="cancel_button">Cancel</button>
                        <input type="submit" name="submit" value="Done">
                    </div>
                </form>
            </div>
        </div>
        <div id="display_log">
            <p id="display_msg">
            </p>
        </div>
    </div>
</body>

</html>